@import "tailwindcss";
body {
    @apply bg-gray-100;
}

@layer components {
  /* Input Moderno com anel de foco */
  .input-moderno {
    @apply w-full border border-gray-300 rounded-xl px-4 py-3 text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all duration-200 bg-gray-50 hover:bg-white;
  }
}